.classpath
.project
service/dependency-reduced-pom.xml
service/.idea/*
service/*/.DS_Store
.DS_Store
service/*.iml
service/run-config/*/*.iml
service/run-config/*/target/*
service/target/*
.settings
.idea
*.iml
target
service/build/*.jar
service/build/*.yaml
service/build/*.json
service/build/*.conf
service/build/Dockerfile

.classpath
.settings
.project
.env
