swagger: '2.0'
info:
  version: 1.0.4
  title: member-microservice
  description: >
    Services that provide access and interaction with all sorts of memeber data.
  license:
    name: MIT
    url: 'http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT'
host: api.topcoder.com
basePath: /v3
schemes:
  - http
  - https
securityDefinitions:
  bearer:
    type: apiKey
    name: Authorization
    in: header
paths:
  /members/stats/distribution:
    get:
      description: Get member distribution statistics
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: filter
          in: query
          required: true
          type: string
          description: >
            fieldName=fieldValue (enum[string],optional)  - parameter for
            filtering the fields according to v3 spec


            + track - Filter by track

            + subTrack - Filter by subTrack
        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberDistributionStats that will be included in response.


            + track - Select the field track

            + subTrack - Select the field subTrack

            + distribution - Select the field distribution

            + updatedAt - Select the field updatedAt

            + createdAt - Select the field createdAt

            + createdBy - Select the field createdBy

            + updatedBy - Select the field updatedBy

      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberDistributionStatsResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/externalAccounts:
    get:
      description: get member external accounts
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberExternalAccounts that will be included in response.


            + userId - Select the field userId

            + handle - Select the field handle

            + behance - Select the field behance

            + bitbucket - Select the field bitbucket

            + dribbble - Select the field dribbble

            + github - Select the field github

            + linkedin - Select the field linkedin

            + stackoverflow - Select the field stackoverflow

            + twitter - Select the field twitter

            + updatedAt - Select the field updatedAt

            + createdAt - Select the field createdAt

            + createdBy - Select the field createdBy

            + updatedBy - Select the field updatedBy
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberExternalAccountsResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/externalLinks:
    get:
      description: get member external links
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberExternalLinkData that will be included in response.


            + userId - Select the field userId

            + key - Select the field key

            + handle - Select the field handle

            + description - Select the field description

            + entities - Select the field entities

            + keywords - Select the field keywords

            + title - Select the field title

            + images - Select the field images

            + source - Select the field source

            + synchronizedAt - Select the field synchronizedAt

            + url - Select the field url
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberExternalLinkDataResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
    post:
      description: create member external link
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ExternalLinkURLBodyParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExternalLinkURLResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/externalLinks/{key}:
    delete:
      description: delete member external link
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: path
          name: key
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberExternalLinkResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/financial:
    get:
      description: Get member financial information
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberFinancial that will be included in response.


            + userId - Select the field userId

            + amount - Select the field amount

            + status - Select the field status

            + updatedAt - Select the field updatedAt

            + createdAt - Select the field createdAt

            + createdBy - Select the field createdBy

            + updatedBy - Select the field updatedBy

      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberFinancialResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/stats/history:
    get:
      description: Get member history statistics
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberHistoryStats that will be included in response.


            + userId - Select the field userId

            + handle - Select the field handle

            + handleLower - Select the field handleLower

            + develop - Select the field develop

            + dataScience - Select the field dataScience

            + updatedAt - Select the field updatedAt

            + createdAt - Select the field createdAt

            + createdBy - Select the field createdBy

            + updatedBy - Select the field updatedBy

      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberHistoryStatsResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}:
    get:
      description: get member profile. The authentication credential is optional.
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberProfile that will be included in response.


            + maxRating - Select the field maxRating

            + userId - Select the field userId

            + firstName - Select the field firstName

            + lastName - Select the field lastName

            + description - Select the field description

            + otherLangName - Select the field otherLangName

            + handle - Select the field handle

            + handleLower - Select the field handleLower

            + status - Select the field status

            + email - Select the field email

            + addresses - Select the field addresses

            + homeCountryCode - Select the field homeCountryCode

            + competitionCountryCode - Select the field competitionCountryCode

            + photoURL - Select the field photoURL

            + tracks - Select the field tracks

            + updatedAt - Select the field updatedAt

            + createdAt - Select the field createdAt

            + createdBy - Select the field createdBy

            + updatedBy - Select the field updatedBy

      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberProfileResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
    put:
      description: update member profile, it will send the email verification if the email is changed
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MemberProfileBodyParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberProfileResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/verify:
    post:
      description: verify the user email
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: query
          name: oldEmail
          type: string
          required: true
          description: the old email
        - in: query
          name: newEmail
          type: string
          required: true
          description: the new email
        - in: query
          name: token
          type: string
          required: true
          description: the verification token
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StringResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/photo:
    put:
      description: update photo
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PhotoTokenContentTypeBodyParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StringResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/photoUploadUrl:
    post:
      description: generate photo upload url
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PhotoContentTypeBodyParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PhotoTokenURLResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/skills:
    get:
      description: get member aggregated skills
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberAggregatedSkills that will be included in response.


            + userId - Select the field userId

            + userHandle - Select the field userHandle

            + handleLower - Select the field handleLower

            + skills - Select the field skills

            + updatedAt - Select the field updatedAt

            + createdAt - Select the field createdAt

            + createdBy - Select the field createdBy

            + updatedBy - Select the field updatedBy

      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberAggregatedSkillsResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
    patch:
      description: update member skills
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MemberEnteredSkillsBodyParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberAggregatedSkillsResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/stats:
    get:
      description: get member stats
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberStats that will be included in response.


            + userId - Select the field userId

            + handle - Select the field handle

            + handleLower - Select the field handleLower

            + maxRating - Select the field maxRating

            + challenges - Select the field challenges

            + wins - Select the field wins

            + develop - Select the field develop

            + design - Select the field design

            + dataScience - Select the field dataScience

            + copilot - Select the field copilot

            + updatedAt - Select the field updatedAt

            + createdAt - Select the field createdAt

            + createdBy - Select the field createdBy

            + updatedBy - Select the field updatedBy

      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberStatsResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/_suggest/{term}:
    get:
      description: get member suggestions, only Administrator, Connect Administrator and Connect Manager have permission to this endpoint
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: term
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberSuggestResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/_search:
    get:
      description: search members, the authentication credential is optional.
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: filter
          in: query
          required: false
          type: string
          description: >
            fieldName=fieldValue (enum[string],optional)  - parameter for
            filtering the fields according to v3 spec


            + query - Filter by query

            + handle - Filter by handle

            + fields - Filter by fields, separated by comma

            + status - Filter by status

        - $ref: '#/parameters/offsetParam'
        - $ref: '#/parameters/limitParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemeberSearchResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Miss authentication credentials
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /leaderboards:
    get:
      description: Get leaderboards of Top 10 Members that matching the specified criteria. The authentication credential is optional.
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: filter
          in: query
          required: true
          type: string
          description: >
            fieldName=fieldValue (enum[string],optional)  - parameter for
            filtering the fields according to v3 spec


            + type - Filter by type, required

            + name - Filter by name, one of id and name should be provided

            + id - Filter by id, one of id and name should be provided

        - $ref: '#/parameters/offsetParam'
        - $ref: '#/parameters/limitParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemeberSearchResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
  /members/{handle}/traits:
    get:
      description: get member profile traits
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: traitIds
          in: query
          required: false
          type: string
          description: >
            traitIds value separated with comma

            + basic_id

            + work

            + skill

            + education

            + communities

        - name: fields
          in: query
          required: false
          type: string
          description: >
            fields=fieldName1,fieldName2,...,fieldN  - parameter for
            choosing which fields of MemberProfileTrait that will be included in response.


            + traitId - Select the field traitId

            + categoryName - Select the field categoryName

            + updatedAt - Select the field updatedAt

            + createdAt - Select the field createdAt

            + createdBy - Select the field createdBy

            + updatedBy - Select the field updatedBy

            + traits - Select the field traits
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberProfileTraitResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
    delete:
      description: delete member profile traits
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - name: traitIds
          in: query
          required: false
          type: string
          description: >
            traitIds value separated with comma

            + basic_id

            + work

            + skill

            + education

            + communities

      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NullResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
    post:
      description: create member profile traits
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MemberProfileTraitBodyParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberProfileTraitResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'

    put:
      description: update member profile traits
      security:
        - bearer: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: handle
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MemberProfileTraitBodyParam'

      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberProfileTraitResponse'
        '400':
          description: Bad request data
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: No permission or wrong token
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorModel'
definitions:
  MemberProfileTraitBodyParam:
    type: object
    properties:
      param:
        type: array
        items:
          $ref: '#/definitions/MemberProfileTrait'
  MemberProfileTraitResponse:
    title: the member profile trait response
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            type: array
            items:
              $ref: '#/definitions/MemberProfileTrait'
  MemberProfileTrait:
    properties:
      traitId:
        type: string
      categoryName:
        type: string
      createdAt:
        type: string
        format: date-time
      createdBy:
        type: number
        format: int64
      updatedAt:
        type: string
        format: date-time
      updatedBy:
        type: number
        format: int64
      traits:
        $ref: '#/definitions/MemberProfileTraitData'
  MemberProfileTraitData:
    description: the type should be one of the MemberProfileBasicInfo, MemberProfileWork, MemberProfileSkill, MemberProfileCommunities and MemberProfileEducation
    properties:
      data:
        type: array
        items:
          type: object
  MemberProfileBasicInfo:
    properties:
      handle:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      shortBio:
        type: string
      gender:
        type: string
      tshirtSize:
        type: string
      country:
        type: string
      primaryInterestInTopcoder:
        type: string
  MemberProfileEducation:
    properties:
      type:
        type: string
      schoolCollegeName:
        type: string
      major:
        type: string
      timePeriodFrom:
        type: string
        format: date-time
      timePeriodTo:
        type: string
        format: date-time
      graduated:
        type: boolean

  MemberProfileCommunities:
    properties:
      cognitive:
        type: boolean
      blockchain:
        type: boolean
      ios:
        type: boolean
      predix:
        type: boolean

  MemberProfileSkill:
    properties:
      design:
        type: array
        items:
          type: string
      development:
        type: array
        items:
          type: string
      dataScience:
        type: array
        items:
          type: string

  MemberProfileWork:
    properties:
      company:
          type: string
      position:
        type: string
      cityTown:
        type: string
      timePeriodFrom:
        type: string
        format: date-time
      timePeriodTo:
        type: string
        format: date-time

  MemeberSearchResponse:
    title: Single MemberSuggest object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            type: array
            items:
              $ref: '#/definitions/MemberSearchDataItem'
  MemberSearchDataItem:
    properties:
      wins:
        type: number
      skills:
        type: array
        items:
          type: object
          properties:
            score:
              type: number
            name:
              type: string
      createdAt:
        type: number
      photoURL:
        type: string
      stats:
        properties:
          DESIGN:
            properties:
              wins:
                type: number
              mostRecentSubmission:
                type: number
              challenges:
                type: number
              subTracks:
                type: array
                items:
                  type: object
                  properties:
                    wins:
                      type: number
                    mostRecentSubmission:
                      type: number
                    passedScreening:
                      type: number
                    challenges:
                      type: number
                    avgPlacement:
                      type: number
                    numInquiries:
                      type: number
                    submissions:
                      type: number
                    name:
                      type: string
                    screeningSuccessRate:
                      type: number
                    submissionRate:
                      type: number
                    id:
                      type: number
                    winPercent:
                      type: number
                    mostRecentEventDate:
                      type: number
              mostRecentEventDate:
                type: number
            type: object
          COPILOT:
            properties:
              contests:
                type: number
              activeContests:
                type: number
              projects:
                type: number
              failures:
                type: number
              fulfillment:
                type: number
              reposts:
                type: number
              activeProjects:
                type: number
            type: object
          DATA_SCIENCE:
            properties:
              wins:
                type: number
              mostRecentSubmission:
                type: number
              challenges:
                type: number
              MARATHON_MATCH:
                properties:
                  wins:
                    type: number
                  mostRecentSubmission:
                    type: number
                  challenges:
                    type: number
                  rank:
                    properties:
                      schoolRank:
                        type: number
                      maximumRating:
                        type: number
                      avgNumSubmissions:
                        type: number
                      rating:
                        type: number
                      competitions:
                        type: number
                      volatility:
                        type: number
                      topTenFinishes:
                        type: number
                      minimumRating:
                        type: number
                      percentile:
                        type: number
                      defaultLanguage:
                        type: string
                      avgRank:
                        type: number
                      rank:
                        type: number
                      countryRank:
                        type: number
                      bestRank:
                        type: number
                      topFiveFinishes:
                        type: number
                    type: object
                  mostRecentEventDate:
                    type: number
                  mostRecentEventName:
                    type: string
                type: object
              mostRecentEventDate:
                type: number
              SRM:
                properties:
                  wins:
                    type: number
                  mostRecentSubmission:
                    type: number
                  challenges:
                    type: number
                  rank:
                    properties:
                      minimumRating:
                        type: number
                      percentile:
                        type: number
                      defaultLanguage:
                        type: string
                      schoolRank:
                        type: number
                      maximumRating:
                        type: number
                      rating:
                        type: number
                      competitions:
                        type: number
                      rank:
                        type: number
                      volatility:
                        type: number
                      countryRank:
                        type: number
                    type: object
                  mostRecentEventDate:
                    type: number
                  mostRecentEventName:
                    type: string
                type: object
              mostRecentEventName:
                type: string
            type: object
          DEVELOP:
            properties:
              wins:
                type: number
              mostRecentSubmission:
                type: number
              challenges:
                type: number
              subTracks:
                type: array
                items:
                  type: object
                  properties:
                    wins:
                      type: number
                    mostRecentSubmission:
                      type: number
                    challenges:
                      type: number
                    submissions:
                      properties:
                        appealSuccessRate:
                          type: number
                        minScore:
                          type: number
                        passedScreening:
                          type: number
                        avgPlacement:
                          type: number
                        reviewSuccessRate:
                          type: number
                        maxScore:
                          type: number
                        appeals:
                          type: number
                        avgScore:
                          type: number
                        numInquiries:
                          type: number
                        submissions:
                          type: number
                        screeningSuccessRate:
                          type: number
                        submissionRate:
                          type: number
                        passedReview:
                          type: number
                        winPercent:
                          type: number
                      type: object
                    name:
                      type: string
                    rank:
                      properties:
                        overallPercentile:
                          type: number
                        activeRank:
                          type: number
                        overallCountryRank:
                          type: number
                        reliability:
                          type: number
                        rating:
                          type: number
                        minRating:
                          type: number
                        volatility:
                          type: number
                        overallSchoolRank:
                          type: number
                        overallRank:
                          type: number
                        activeSchoolRank:
                          type: number
                        activeCountryRank:
                          type: number
                        maxRating:
                          type: number
                        activePercentile:
                          type: number
                      type: object
                    id:
                      type: number
                    mostRecentEventDate:
                      type: number
              mostRecentEventDate:
                type: number
            type: object
        type: object
      description:
        type: string
      handle:
        type: string
      maxRating:
        properties:
          rating:
            type: number
          subTrack:
            type: string
          track:
            type: string
        type: object
      competitionCountryCode:
        type: string
      userId:
        type: number
      tracks:
        type: array
        items:
          type: string
  MemberSuggestResponse:
    title: Single MemberSuggest object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            type: array
            items:
              $ref: '#/definitions/MemberSuggest'
  MemberSuggest:
    type: object
    properties:
        userId:
          type: number
          format: int64
        handle:
          type: string
        photoURL:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        maxRating:
          type: number
          format: int64
  MemberStatsResponse:
    title: Single MemberStats object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/MemberStats'
  MemberStats:
    type: object
    properties:
        userId:
          type: integer
        handle:
          type: string
        handleLower:
          type: string
        maxRating:
          type: object
          properties:
            rating:
              type: number
              format: int64
            track:
              type: string
            subTrack:
              type: string
        challenges:
          type: number
          format: int64
        wins:
          type: number
          format: int64
        develop:
          type: object
          properties:
            challenges:
              type: number
              format: int64
            wins:
              type: number
              format: int64
            subTracks:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    format: int64
                  name:
                    type: string
                  challenges:
                    type: number
                    format: int64
                  wins:
                    type: number
                    format: int64
                  rank:
                    type: object
                    properties:
                      rating:
                        type: number
                        format: int64
                      activePercentile:
                        type: number
                        format: double
                      activeRank:
                        type: number
                        format: int64
                      activeCountryRank:
                        type: number
                        format: int64
                      activeSchoolRank:
                        type: number
                        format: int64
                      overallPercentile:
                        type: number
                        format: double
                      overallRank:
                        type: number
                        format: int64
                      overallCountryRank:
                        type: number
                        format: int64
                      overallSchoolRank:
                        type: number
                        format: int64
                      volatility:
                        type: number
                        format: int64
                      reliability:
                        type: number
                        format: double
                      maxRating:
                        type: number
                        format: int64
                      minRating:
                        type: number
                        format: int64
                  submissions:
                    type: object
                    properties:
                      numInquiries:
                        type: number
                        format: int64
                      submissions:
                        type: number
                        format: int64
                      submissionRate:
                        type: number
                        format: double
                      passedScreening:
                        type: number
                        format: int64
                      screeningSuccessRate:
                        type: number
                        format: double
                      passedReview:
                        type: number
                        format: int64
                      reviewSuccessRate:
                        type: number
                        format: double
                      appeals:
                        type: number
                        format: int64
                      appealSuccessRate:
                        type: number
                        format: double
                      maxScore:
                        type: number
                        format: double
                      minScore:
                        type: number
                        format: double
                      avgScore:
                        type: number
                        format: double
                      avgPlacement:
                        type: number
                        format: double
                      winPercent:
                        type: number
                        format: double
                  mostRecentEventDate:
                    type: string
                    format: date-time
                    description: >-
                      ISO-8601 formatted date times
                      (YYYY-MM-DDTHH:mm:ss.sssZ)
                  mostRecentSubmission:
                    type: string
                    format: date-time
                    description: >-
                      ISO-8601 formatted date times
                      (YYYY-MM-DDTHH:mm:ss.sssZ)
            mostRecentEventDate:
              type: string
              format: date-time
              description: >-
                ISO-8601 formatted date times
                (YYYY-MM-DDTHH:mm:ss.sssZ)
            mostRecentSubmission:
              type: string
              format: date-time
              description: >-
                ISO-8601 formatted date times
                (YYYY-MM-DDTHH:mm:ss.sssZ)
        design:
          type: object
          properties:
            challenges:
              type: number
              format: int64
            wins:
              type: number
              format: int64
            subTracks:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    format: int64
                  name:
                    type: string
                  numInquiries:
                    type: number
                    format: int64
                  challenges:
                    type: number
                    format: int64
                  wins:
                    type: number
                    format: int64
                  winPercent:
                    type: number
                    format: double
                  avgPlacement:
                    type: number
                    format: double
                  submissions:
                    type: number
                    format: int64
                  submissionRate:
                    type: number
                    format: double
                  passedScreening:
                    type: number
                    format: int64
                  screeningSuccessRate:
                    type: number
                    format: double
                  mostRecentEventDate:
                    type: string
                    format: date-time
                    description: >-
                      ISO-8601 formatted date times
                      (YYYY-MM-DDTHH:mm:ss.sssZ)
                  mostRecentSubmission:
                    type: string
                    format: date-time
                    description: >-
                      ISO-8601 formatted date times
                      (YYYY-MM-DDTHH:mm:ss.sssZ)
            mostRecentEventDate:
              type: string
              format: date-time
              description: >-
                ISO-8601 formatted date times
                (YYYY-MM-DDTHH:mm:ss.sssZ)
            mostRecentSubmission:
              type: string
              format: date-time
              description: >-
                ISO-8601 formatted date times
                (YYYY-MM-DDTHH:mm:ss.sssZ)
        dataScience:
          type: object
          properties:
            challenges:
              type: number
              format: int64
            wins:
              type: number
              format: int64
            srm:
              type: object
              properties:
                challenges:
                  type: number
                  format: int64
                wins:
                  type: number
                  format: int64
                rank:
                  type: object
                  properties:
                    rating:
                      type: number
                      format: int64
                    percentile:
                      type: number
                      format: double
                    rank:
                      type: number
                      format: int64
                    countryRank:
                      type: number
                      format: int64
                    schoolRank:
                      type: number
                      format: int64
                    volatility:
                      type: number
                      format: double
                    maximumRating:
                      type: number
                      format: int64
                    minimumRating:
                      type: number
                      format: int64
                    defaultLanguage:
                      type: string
                    competitions:
                      type: number
                      format: int64
                    mostRecentEventName:
                      type: string
                    mostRecentEventDate:
                      type: string
                      format: date-time
                      description: >-
                        ISO-8601 formatted date times
                        (YYYY-MM-DDTHH:mm:ss.sssZ)
                challengeDetails:
                  type: array
                  items:
                    type: object
                    properties:
                      levelName:
                        type: string
                      challenges:
                        type: number
                        format: int64
                      failedChallenges:
                        type: number
                        format: int64
                division1:
                  type: array
                  items:
                    type: object
                    properties:
                      levelName:
                        type: string
                      problemsSubmitted:
                        type: number
                        format: int64
                      problemsFailed:
                        type: number
                        format: int64
                      problemsSysByTest:
                        type: number
                        format: int64
                division2:
                  type: array
                  items:
                    type: object
                    properties:
                      levelName:
                        type: string
                      problemsSubmitted:
                        type: number
                        format: int64
                      problemsFailed:
                        type: number
                        format: int64
                      problemsSysByTest:
                        type: number
                        format: int64
                mostRecentEventName:
                  type: string
                mostRecentEventDate:
                  type: string
                  format: date-time
                  description: >-
                    ISO-8601 formatted date times
                    (YYYY-MM-DDTHH:mm:ss.sssZ)
                mostRecentSubmission:
                  type: string
                  format: date-time
                  description: >-
                    ISO-8601 formatted date times
                    (YYYY-MM-DDTHH:mm:ss.sssZ)
            marathonMatch:
              type: object
              properties:
                challenges:
                  type: number
                  format: int64
                wins:
                  type: number
                  format: int64
                rank:
                  type: object
                  properties:
                    rating:
                      type: number
                      format: int64
                    competitions:
                      type: number
                      format: int64
                    avgRank:
                      type: number
                      format: int64
                    avgNumSubmissions:
                      type: number
                      format: int64
                    bestRank:
                      type: number
                      format: int64
                    topFiveFinishes:
                      type: number
                      format: int64
                    topTenFinishes:
                      type: number
                      format: int64
                    rank:
                      type: number
                      format: int64
                    percentile:
                      type: number
                      format: double
                    volatility:
                      type: number
                      format: double
                    minimumRating:
                      type: number
                      format: int64
                    maximumRating:
                      type: number
                      format: int64
                    countryRank:
                      type: number
                      format: int64
                    schoolRank:
                      type: number
                      format: int64
                    defaultLanguage:
                      type: string
                    mostRecentEventName:
                      type: string
                    mostRecentEventDate:
                      type: string
                      format: date-time
                      description: >-
                        ISO-8601 formatted date times
                        (YYYY-MM-DDTHH:mm:ss.sssZ)
                mostRecentEventName:
                  type: string
                mostRecentEventDate:
                  type: string
                  format: date-time
                  description: >-
                    ISO-8601 formatted date times
                    (YYYY-MM-DDTHH:mm:ss.sssZ)
                mostRecentSubmission:
                  type: string
                  format: date-time
                  description: >-
                    ISO-8601 formatted date times
                    (YYYY-MM-DDTHH:mm:ss.sssZ)
            mostRecentEventName:
              type: string
            mostRecentEventDate:
              type: string
              format: date-time
              description: >-
                ISO-8601 formatted date times
                (YYYY-MM-DDTHH:mm:ss.sssZ)
            mostRecentSubmission:
              type: string
              format: date-time
              description: >-
                ISO-8601 formatted date times
                (YYYY-MM-DDTHH:mm:ss.sssZ)
        copilot:
          type: object
          properties:
            contests:
              type: number
              format: int64
            projects:
              type: number
              format: int64
            failures:
              type: number
              format: int64
            reposts:
              type: number
              format: int64
            activeContests:
              type: number
              format: int64
            activeProjects:
              type: number
              format: int64
            fulfillment:
              type: number
              format: double
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  MemberEnteredSkillsBodyParam:
    type: object
    properties:
      param:
        $ref: '#/definitions/MemberEnteredSkills'
  MemberEnteredSkills:
    type: object
    properties:
      userId:
        type: integer
      userHandle:
        type: string
      handleLower:
        type: string
      skills:
        type: object
        properties:
          key:
            type: object
            properties:
              tagName:
                type: string
              hidden:
                type: boolean
              score:
                type: number
              sources:
                type: array
                items:
                  type: string
      updatedAt:
        type: string
        format: date-time
        description: >-
          ISO-8601 formatted date times
          (YYYY-MM-DDTHH:mm:ss.sssZ)
      createdAt:
        type: string
        format: date-time
        description: >-
          ISO-8601 formatted date times
          (YYYY-MM-DDTHH:mm:ss.sssZ)
      createdBy:
        type: string
      updatedBy:
        type: string
  MemberAggregatedSkillsResponse:
    title: Single MemberAggregatedSkills object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/MemberAggregatedSkills'
  MemberAggregatedSkills:
    type: object
    properties:
        userId:
          type: integer
        userHandle:
          type: string
        handleLower:
          type: string
        skills:
          type: object
          properties:
            key:
              type: object
              properties:
                tagName:
                  type: string
                hidden:
                  type: boolean
                score:
                  type: number
                sources:
                  type: array
                  items:
                    type: string
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  PhotoTokenURLResponse:
    title: Single PhotoTokenURL object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/PhotoTokenURL'
  PhotoContentTypeBodyParam:
    type: object
    properties:
      param:
        $ref: '#/definitions/PhotoContentType'
  PhotoContentType:
    type: object
    properties:
      contentType:
        type: string
      updatedAt:
        type: string
        format: date-time
        description: >-
          ISO-8601 formatted date times
          (YYYY-MM-DDTHH:mm:ss.sssZ)
      createdAt:
        type: string
        format: date-time
        description: >-
          ISO-8601 formatted date times
          (YYYY-MM-DDTHH:mm:ss.sssZ)
      createdBy:
        type: string
      updatedBy:
        type: string

  PhotoTokenURL:
    type: object
    properties:
        preSignedURL:
          type: string
        token:
          type: number
          format: int64
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  PhotoTokenContentTypeBodyParam:
    type: object
    properties:
      param:
        $ref: '#/definitions/PhotoTokenContentType'
  PhotoTokenContentType:
    type: object
    properties:
      token:
        type: number
        format: int64
      contentType:
        type: string
      updatedAt:
        type: string
        format: date-time
        description: >-
          ISO-8601 formatted date times
          (YYYY-MM-DDTHH:mm:ss.sssZ)
      createdAt:
        type: string
        format: date-time
        description: >-
          ISO-8601 formatted date times
          (YYYY-MM-DDTHH:mm:ss.sssZ)
      createdBy:
        type: string
      updatedBy:
        type: string
  MemberProfileBodyParam:
    type: object
    properties:
      param:
        $ref: '#/definitions/MemberProfile'
  MemberProfileResponse:
    title: Single MemberProfile object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/MemberProfile'
  MemberProfile:
    type: object
    properties:
        maxRating:
          type: object
          properties:
            rating:
              type: number
              format: int64
            track:
              type: string
            subTrack:
              type: string
        userId:
          type: integer
        firstName:
          type: string
        lastName:
          type: string
        description:
          type: string
        otherLangName:
          type: string
        handle:
          type: string
        handleLower:
          type: string
        status:
          type: string
        email:
          type: string
        newEmail:
          type: string
        emailVerifyToken:
          type: string
        emailVerifyTokenDate:
          type: string
          format: date-time
          description: 'ISO-8601 formatted date times (YYYY-MM-DDTHH:mm:ss.sssZ)'
        addresses:
          type: array
          items:
            type: object
            properties:
              streetAddr1:
                type: string
              streetAddr2:
                type: string
              city:
                type: string
              zip:
                type: string
              stateCode:
                type: string
              type:
                type: string
              updatedAt:
                type: string
                format: date-time
                description: >-
                  ISO-8601 formatted date times
                  (YYYY-MM-DDTHH:mm:ss.sssZ)
              createdAt:
                type: string
                format: date-time
                description: >-
                  ISO-8601 formatted date times
                  (YYYY-MM-DDTHH:mm:ss.sssZ)
              createdBy:
                type: string
              updatedBy:
                type: string
        homeCountryCode:
          type: string
        competitionCountryCode:
          type: string
        photoURL:
          type: string
        tracks:
          type: array
          items:
            type: string
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  MemberHistoryStatsResponse:
    title: Single MemberHistoryStats object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/MemberHistoryStats'
  MemberHistoryStats:
    type: object
    properties:
        userId:
          type: integer
        handle:
          type: string
        handleLower:
          type: string
        DEVELOP:
          type: object
          properties:
            subTracks:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: number
                    format: int64
                  name:
                    type: string
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        challengeId:
                          type: number
                          format: int64
                        challengeName:
                          type: string
                        ratingDate:
                          type: string
                          format: date-time
                          description: >-
                            ISO-8601 formatted date times
                            (YYYY-MM-DDTHH:mm:ss.sssZ)
                        newRating:
                          type: number
                          format: int64
        DATA_SCIENCE:
          type: object
          properties:
            SRM:
              type: object
              properties:
                history:
                  type: array
                  items:
                    type: object
                    properties:
                      challengeId:
                        type: number
                        format: int64
                      challengeName:
                        type: string
                      date:
                        type: string
                        format: date-time
                        description: >-
                          ISO-8601 formatted date times
                          (YYYY-MM-DDTHH:mm:ss.sssZ)
                      rating:
                        type: number
                        format: double
                      placement:
                        type: number
                        format: int64
                      percentile:
                        type: number
                        format: double
            MARATHON_MATCH:
              type: object
              properties:
                history:
                  type: array
                  items:
                    type: object
                    properties:
                      challengeId:
                        type: number
                        format: int64
                      challengeName:
                        type: string
                      date:
                        type: string
                        format: date-time
                        description: >-
                          ISO-8601 formatted date times
                          (YYYY-MM-DDTHH:mm:ss.sssZ)
                      rating:
                        type: number
                        format: double
                      placement:
                        type: number
                        format: int64
                      percentile:
                        type: number
                        format: double
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  MemberFinancialResponse:
    title: Single MemberFinancial object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            type: array
            items:
              $ref: '#/definitions/MemberFinancial'
  MemberFinancial:
    type: object
    properties:
        userId:
          type: number
          format: int64
        amount:
          type: number
          format: double
        status:
          type: string
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  MemberExternalLinkResponse:
    title: Single MemberExternalLink object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/MemberExternalLink'
  MemberExternalLink:
    type: object
    properties:
        userId:
          type: integer
        key:
          type: string
        URL:
          type: string
        synchronizedAt:
          type: number
          format: int64
        isDeleted:
          type: boolean
        hasErrored:
          type: boolean
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  ExternalLinkURLResponse:
    title: Single ExternalLinkURL object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/ExternalLinkURL'
  ExternalLinkURLBodyParam:
    type: object
    properties:
      param:
        $ref: '#/definitions/ExternalLinkURL'
  ExternalLinkURL:
    type: object
    properties:
      url:
        type: string
      updatedAt:
        type: string
        format: date-time
        description: >-
          ISO-8601 formatted date times
          (YYYY-MM-DDTHH:mm:ss.sssZ)
      createdAt:
        type: string
        format: date-time
        description: >-
          ISO-8601 formatted date times
          (YYYY-MM-DDTHH:mm:ss.sssZ)
      createdBy:
        type: string
      updatedBy:
        type: string
  MemberDistributionStatsResponse:
    title: Single MemberDistributionStats object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/MemberDistributionStats'
  MemberDistributionStats:
    type: object
    properties:
        track:
          type: string
        subTrack:
          type: string
        distribution:
          type: object
          properties:
            ratingRange0To099:
              type: number
              format: int64
            ratingRange100To199:
              type: number
              format: int64
            ratingRange200To299:
              type: number
              format: int64
            ratingRange300To399:
              type: number
              format: int64
            ratingRange400To499:
              type: number
              format: int64
            ratingRange500To599:
              type: number
              format: int64
            ratingRange600To699:
              type: number
              format: int64
            ratingRange700To799:
              type: number
              format: int64
            ratingRange800To899:
              type: number
              format: int64
            ratingRange900To999:
              type: number
              format: int64
            ratingRange1000To1099:
              type: number
              format: int64
            ratingRange1100To1199:
              type: number
              format: int64
            ratingRange1200To1299:
              type: number
              format: int64
            ratingRange1300To1399:
              type: number
              format: int64
            ratingRange1400To1499:
              type: number
              format: int64
            ratingRange1500To1599:
              type: number
              format: int64
            ratingRange1600To1699:
              type: number
              format: int64
            ratingRange1700To1799:
              type: number
              format: int64
            ratingRange1800To1899:
              type: number
              format: int64
            ratingRange1900To1999:
              type: number
              format: int64
            ratingRange2000To2099:
              type: number
              format: int64
            ratingRange2100To2199:
              type: number
              format: int64
            ratingRange2200To2299:
              type: number
              format: int64
            ratingRange2300To2399:
              type: number
              format: int64
            ratingRange2400To2499:
              type: number
              format: int64
            ratingRange2500To2599:
              type: number
              format: int64
            ratingRange2600To2699:
              type: number
              format: int64
            ratingRange2700To2799:
              type: number
              format: int64
            ratingRange2800To2899:
              type: number
              format: int64
            ratingRange2900To2999:
              type: number
              format: int64
            ratingRange3000To3099:
              type: number
              format: int64
            ratingRange3100To3199:
              type: number
              format: int64
            ratingRange3200To3299:
              type: number
              format: int64
            ratingRange3300To3399:
              type: number
              format: int64
            ratingRange3400To3499:
              type: number
              format: int64
            ratingRange3500To3599:
              type: number
              format: int64
            ratingRange3600To3699:
              type: number
              format: int64
            ratingRange3700To3799:
              type: number
              format: int64
            ratingRange3800To3899:
              type: number
              format: int64
            ratingRange3900To3999:
              type: number
              format: int64
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  ResponseMetadata:
    title: Metadata object for a response
    type: object
    properties:
      totalCount:
        type: integer
        format: int32
        description: Total count of the objects
  ValidationErrorModel:
    type: object
    properties:
      errors:
        type: array
        items:
          type: string
        description: validation error message
  ErrorModel:
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            description: http status code
            type: number
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            type: object
  NullResponse:
    title: The response with null content
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
            description: The metadata might be null
          content:
            description: This content will be null
            type: object
  StringResponse:
    title: The response with string content
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
            description: The metadata might be null
          content:
            description: This content will be string
            type: string
  MemberExternalAccountsResponse:
    title: Single MemberExternalAccounts object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            $ref: '#/definitions/MemberExternalAccounts'
  MemberExternalAccounts:
    type: object
    properties:
        userId:
          type: integer
        handle:
          type: string
        behance:
          type: object
          properties:
            userId:
              type: integer
            name:
              type: string
            profileURL:
              type: string
            projectAppreciations:
              type: number
              format: int64
            projectViews:
              type: number
              format: int64
            summary:
              type: string
            creativeFields:
              type: string
        bitbucket:
          type: object
          properties:
            userId:
              type: integer
            handle:
              type: string
            followers:
              type: number
              format: int64
            languages:
              type: string
            profileURL:
              type: string
            repos:
              type: number
              format: int64
        dribbble:
          type: object
          properties:
            userId:
              type: integer
            handle:
              type: string
            socialId:
              type: string
            name:
              type: string
            summary:
              type: string
            followers:
              type: number
              format: int64
            likes:
              type: number
              format: int64
            profileURL:
              type: string
            tags:
              type: string
        github:
          type: object
          properties:
            userId:
              type: integer
            followers:
              type: number
              format: int64
            handle:
              type: string
            languages:
              type: string
            profileURL:
              type: string
            publicRepos:
              type: number
              format: int64
            socialId:
              type: string
        linkedin:
          type: object
          properties:
            userId:
              type: integer
            name:
              type: string
            handle:
              type: string
            socialId:
              type: string
            profileURL:
              type: string
            summary:
              type: string
            title:
              type: string
            skills:
              type: string
        stackoverflow:
          type: object
          properties:
            userId:
              type: integer
            name:
              type: string
            socialId:
              type: string
            answers:
              type: number
              format: int64
            profileURL:
              type: string
            questions:
              type: number
              format: int64
            reputation:
              type: number
              format: int64
            topTags:
              type: string
        twitter:
          type: object
          properties:
            userId:
              type: integer
            handle:
              type: string
            socialId:
              type: string
            bio:
              type: string
            noOfTweets:
              type: number
              format: int64
            profileURL:
              type: string
            profileImage:
              type: string
        updatedAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdAt:
          type: string
          format: date-time
          description: >-
            ISO-8601 formatted date times
            (YYYY-MM-DDTHH:mm:ss.sssZ)
        createdBy:
          type: string
        updatedBy:
          type: string
  MemberExternalLinkDataResponse:
    title: Single MemberExternalLinkData object
    type: object
    properties:
      id:
        type: string
        description: unique id identifying the request
      version:
        type: string
      result:
        type: object
        properties:
          success:
            type: boolean
          status:
            type: number
            description: http status code
          metadata:
            $ref: '#/definitions/ResponseMetadata'
          content:
            type: array
            items:
              $ref: '#/definitions/MemberExternalLinkData'
  MemberExternalLinkData:
    type: object
    properties:
        userId:
          type: integer
        key:
          type: string
        handle:
          type: string
        description:
          type: string
        entities:
          type: string
        keywords:
          type: string
        title:
          type: string
        images:
          type: string
        source:
          type: string
        synchronizedAt:
          type: number
          format: int64
        URL:
          type: string
parameters:
  offsetParam:
    name: offset
    description: number of items to skip. Defaults to 0
    in: query
    required: false
    type: integer
    format: int32
  limitParam:
    name: limit
    description: max records to return. Defaults to 10
    in: query
    required: false
    type: integer
    format: int32
  orderByParam:
    name: orderBy
    description: sort the result by the provided order by clause
    in: query
    required: false
    type: string
